.threeLineIcon1 {
  display: none;
}

@media screen and (min-width: 1450px) {
  .threeLineIcon {
    display: none;
  }
  .threeLineIcon1 {
    display: none;
  }
}

@media screen and (max-width: 1450px) {
  .sidebar {
    width: 105px;
    margin-right: 28px;
  }

  .SideBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    padding: 0px;
    padding-top: 30px;
  }
  .logo {
    font-size: 1.4rem;
  }
  .item {
    display: none;
  }
  .mainMenu {
    display: flex;
    margin-top: -20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .other {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .inputBar {
    margin-left: 50px;
  }
}

@media screen and (max-width: 1270px) {
  .MainBox {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .ScheduleContainer {
    width: 680px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .ActivityContainer {
    width: 270px;
    height: 350px;
  }
  .activityHeading {
    width: 100%;
    height: 60px;
  }
  .ActivityDetailBox {
    width: 80%;
  }
  .defaultContainer {
    flex-direction: column;
    width: 150px;
    align-items: start;
    gap: 50px;
  }
  .UpcomingCard {
    width: 390px;
    margin-top: 0px;
    height: 350px;
  }
  .UpcomingContentBox {
    height: 240px;
  }
  .ActivitynotificationBox {
    width: auto;
  }
  .dateSelect {
    height: 30px;
    width: 140px;
  }
  .Upcomingtitle {
    font-size: 1.1rem;
  }
  .Schedule {
    width: 100%;
    padding-top: 20px;
    margin-right: 35px;
  }
  .name {
    display: none;
  }
}

@media screen and (max-width: 835px) {
  .smallboxContainer {
    flex-direction: column;
    gap: 10px;
  }
  .smallCard {
    width: 80vw;
  }
  .mainBoxContainer {
    flex-direction: column;
    gap: 10px;
  }
  .mainCard {
    width: 80vw;
  }
  .AnnouncementCard {
    width: 80vw;
    height: auto;
    padding-bottom: 0px;
  }
  .ScheduleContainer {
    flex-direction: column;
    gap: 10px;
  }
  .ActivityContainer {
    width: 80vw;
  }
  .UpcomingCard {
    width: 80vw;
  }
  .popupCard {
    width: 503px;
    min-height: 490px;
  }
  .side1 {
    margin-right: 20px;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 775px) {
  .inputBar {
    width: 200px;
  }
  .Input {
    width: 120px;
  }
  .notificationBox {
    gap: 0px;
  }
  .midContainer {
    width: 80vw;
  }
  .ScheduleContainer {
    width: 80vw;
  }
  .rightNavBox {
    gap: 10px;
  }
  .name {
    font-size: 0.8rem;
  }
  .avatar {
    margin-top: 5px;
    height: 29px;
  }
}
@media screen and (max-width: 600px) {
  .name {
    display: none;
  }
  .sidebar {
    display: none;
  }
  .togglesidebar{
    display: block;
  }

  .threeLineIcon1 {
    display: block;
  }
  .Input {
    width:  50%;
  }
  .rightNavBox {
    padding-right: 0px;
  }

  .Home {
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  .Input {
    display: none;
  }
  .inputBar {
    border: none;
    width: auto;
    margin-left: 0;
  }
  .SearchIcon {
    width: 45px;
  }
  .cardContent {
    flex-direction: column;
    height: auto;
  }
  .popupCard {
    width: 403px;
    min-height: 530px;
  }
  .side1 {
    font-weight: 600;
    margin-right: 20px;
    font-size: 0.8rem;
    flex-direction: row;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 440px) {
  .head {
    font-size: 20px;
  }
  .SearchIcon {
    width: 40px;
    height: 40px;
  }
  .status {
    font-size: 16px;
  }
  .number {
    font-size: 32px;
  }
  .urgent {
    font-size: 12px;
  }
  .title {
    font-size: 18px;
  }
  .mainNumber {
    font-size: 44px;
  }
  .countMonth {
    font-size: 10px;
  }
  .Announcetitle {
    font-size: 13px;
  }
  .dateSelect {
    height: 30px;
    width: 100px;
    font-size: 10px;
  }
  .NotiTextBox {
    font-size: 11px;
  }
  .timetext {
    font-size: 8px;
  }
  .IconBox {
    gap: 10px;
  }
  .Upcomingtitle {
    font-size: 14px;
  }
  .more {
    font-size: 10px;
    padding-top: 0px;
  }
  .popupCard {
    width: 358px;
    min-height: 580px;
  }
}
