.smallCard {
  width: 215px;
  height: 145px;
  padding: 12px 12px 12px 20px;
  align-items: flex-start;
  border-radius: 10px;
  gap: 5px;
  flex-shrink: 0;
}
.number {
  font-weight: 500;
  font-size: 36px;
}
.status {
  font-weight: 500;
  font-size: 18px;
}
.urgent {
  font-weight: 400;
  font-size: 16px;
}
